<div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Computador</h5>
        <form [formGroup]="FormGroupComputadores" class="needs-validation">
  
          <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Escreva o nome" required>
            <div class="invalid-feedback" *ngIf="submitted && name.invalid">
              Insira um nome válido.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="price" class="form-label">Preço</label>
            <input type="text" formControlName="price" class="form-control" id="price" placeholder="Escreva o preço" required>
            <div class="invalid-feedback" *ngIf="submitted && price.invalid">
              Insira um preço válido.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="image" class="form-label">Imagem do computador</label>
            <input type="text" formControlName="image" class="form-control" id="image" placeholder="Cole o link da imagem" required>
            <div class="invalid-feedback" *ngIf="submitted && image.invalid">
              Insira uma imagem válida.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <input type="text" formControlName="description" class="form-control" id="description" placeholder="Escreva a descrição" required>
            <div class="invalid-feedback" *ngIf="submitted && description.invalid">
              Insira uma descrição válida.
            </div>
          </div>
  
          <div class="text-center">
            <button class="btn btn-warning" type="submit" (click)="save()">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  